{% extends "base.html" %}
  {% block body %}
  <div class="container">
    <h5 class="submenu"><i class="fas fa-users"></i> Clientes Cadastrados</h5>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody>
        {% if clientes %}
          {% for cliente in clientes %}
            <tr>
              <td>{{ cliente.id }}</td>
              <td>{{ cliente.nome }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

    <div class="centro">
      <button class="btn" onclick="location.href='{{ url_for('index') }}'" type="button"><i class="fa fa-undo" aria-hidden="true"></i> Voltar</button>
    </div>

  </div><!-- /.container -->
  {% endblock %}

  {% block head %}
  <style type="text/css">
    .submenu{
      text-align: center;
      margin: 10px;
    }
    .centro{
      text-align: center;
    }
  </style>
  {% endblock %}