{% extends "base.html" %}
  {% block body %}
  <div id="app1" class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col"><h5 class="submenu"><i class="fas fa-cart-plus"></i> Novo Pedido</h5></div>
      <div class="col"></div>   
    </div>

    <div class="row form-group">
      <div class="col-1"><label for="nome" class="col-form-label">Cliente:</label></div>
      <div class="col-11">
        <select v-model="cliente" class="form-control">
          <option disabled selected="" value="">Escolha um Cliente</option>
          <option v-for="cli in clientes" :value="cli.id">
            {% raw %}{{ cli.nome }}{% endraw %}
          </option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-1"><label for="produto" class="col-form-label">Produto:</label></div>
      <div class="col-5">
        <select v-model="produto" class="form-control" @change="produtoSelecionado()">
          <option disabled selected="" value="">Escolha um Produto</option>
          <option v-for="prod in produtos" :value="prod.id">
            {% raw %}{{ prod.nome }}{% endraw %}
          </option>
        </select>
      </div>
      <div class="col-1"><label for="quantidade" class="col-form-label">Qtde:</label></div>
      <div class="col-1"><input type="number" autocomplete="off" class="form-control" id="quantidade" name="quantidade" @change="validarQuantidade()"></div>
      <div class="col-1"><label for="preco" class="col-form-label">Preço:</label></div>
      <div class="col-2"><input type="text" autocomplete="off" class="form-control" id="preco" name="preco" @change="validarPreco()"></div>
      <div class="col-1"><button class="btn btn-primary" @click="addItem"><i class="fas fa-plus-circle"></i></button></div>
    </div>

    <div class="row form-group">
      <div class="col-1"></div>
      <div class="col-2">
        <label class="col-form-label">Rentabilidade:</label>
      </div>
      <div class="col-2">
        <label class="col-form-label"><span id="rentabilidade"></span></label>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Qtde</th>
          <th scope="col">Preço</th>
          <th scope="col">Total</th>
          <th scope="col" class="centro">Rentabilidade</th>
          <th scope="col" class="centro">Excluir</i></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in itens" is="linha-item" :linha="item" :key="item.id"></tr>
      </tbody>
    </table>

    <form id="form_pedido" name="form_pedido" role="form" method="post">
      <input type="hidden" id="pedidoJson" name="pedidoJson" value="{{pedidoJson}}"/>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 botoes">
          <button class="btn" onclick="location.href='{{ url_for('financeiro.pedido') }}'" type="button"><i class="fa fa-undo" aria-hidden="true"></i> Voltar</button>
          <button class="btn btn-success"  @click="submit" type="button"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
        </div>
      </div>
    </form>

  </div><!-- /.container -->

  <!-- Modal -->
  <div class="modal fade" id="modal_erro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><span id="titulo_erro"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><span id="msg_erro"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_modal_fechar">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}

  {% block head %}
  <style type="text/css">
    .submenu{
      text-align: center;
      margin: 10px;
    }
    .botoes{
      text-align: center;
    }
    .botoes button {
      margin: 0 2% 0 2%;
    }
    .centro{
      text-align: center;
    }
    .btn_excluir{
      line-height: initial;
    }
  </style>
  {% endblock %}

    {% block javascript %}
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/pedido.js') }}"></script>
    

    {% endblock %}